<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="/intelcpu/0/load/2/plot" value="false" />
    <add key="/intelcpu/0/load/3/plot" value="false" />
    <add key="/intelcpu/0/load/4/plot" value="false" />
    <add key="/intelcpu/0/load/5/plot" value="false" />
    <add key="/intelcpu/0/load/6/plot" value="false" />
    <add key="/intelcpu/0/load/7/plot" value="false" />
    <add key="/intelcpu/0/load/8/plot" value="false" />
    <add key="/intelcpu/0/load/9/plot" value="false" />
    <add key="/intelcpu/0/load/0/plot" value="false" />
    <add key="/intelcpu/0/load/1/plot" value="false" />
    <add key="/intelcpu/0/temperature/0/plot" value="false" />
    <add key="/intelcpu/0/temperature/1/plot" value="false" />
    <add key="/intelcpu/0/temperature/2/plot" value="false" />
    <add key="/intelcpu/0/temperature/3/plot" value="false" />
    <add key="/intelcpu/0/temperature/4/plot" value="false" />
    <add key="/intelcpu/0/temperature/5/plot" value="false" />
    <add key="/intelcpu/0/temperature/6/plot" value="false" />
    <add key="/intelcpu/0/temperature/7/plot" value="false" />
    <add key="/intelcpu/0/temperature/8/plot" value="false" />
    <add key="/intelcpu/0/temperature/9/plot" value="false" />
    <add key="/intelcpu/0/temperature/10/plot" value="false" />
    <add key="/intelcpu/0/clock/1/plot" value="false" />
    <add key="/intelcpu/0/clock/2/plot" value="false" />
    <add key="/intelcpu/0/clock/3/plot" value="false" />
    <add key="/intelcpu/0/clock/4/plot" value="false" />
    <add key="/intelcpu/0/power/0/plot" value="false" />
    <add key="/intelcpu/0/power/1/plot" value="false" />
    <add key="/intelcpu/0/power/3/plot" value="false" />
    <add key="/intelcpu/0/power/4/plot" value="false" />
    <add key="/intelcpu/0/voltage/0/plot" value="false" />
    <add key="/intelcpu/0/voltage/1/plot" value="false" />
    <add key="/intelcpu/0/voltage/2/plot" value="false" />
    <add key="/intelcpu/0/voltage/3/plot" value="false" />
    <add key="/intelcpu/0/voltage/4/plot" value="false" />
    <add key="/intelcpu/0/clock/0/plot" value="false" />
    <add key="/vram/data/2/plot" value="false" />
    <add key="/vram/data/3/plot" value="false" />
    <add key="/vram/load/1/plot" value="false" />
    <add key="/ram/data/0/plot" value="false" />
    <add key="/ram/data/1/plot" value="false" />
    <add key="/ram/load/0/plot" value="false" />
    <add key="/gpu-nvidia/0/temperature/0/plot" value="false" />
    <add key="/gpu-nvidia/0/clock/0/plot" value="false" />
    <add key="/gpu-nvidia/0/clock/4/plot" value="false" />
    <add key="/gpu-nvidia/0/load/0/plot" value="false" />
    <add key="/gpu-nvidia/0/load/1/plot" value="false" />
    <add key="/gpu-nvidia/0/load/2/plot" value="false" />
    <add key="/gpu-nvidia/0/load/3/plot" value="false" />
    <add key="/gpu-nvidia/0/voltage/0/plot" value="false" />
    <add key="/gpu-nvidia/0/smalldata/3/plot" value="false" />
    <add key="/gpu-nvidia/0/smalldata/4/plot" value="false" />
    <add key="/gpu-nvidia/0/load/5/plot" value="false" />
    <add key="/gpu-nvidia/0/load/8/plot" value="false" />
    <add key="/gpu-nvidia/0/load/6/plot" value="false" />
    <add key="/gpu-nvidia/0/load/7/plot" value="false" />
    <add key="/gpu-nvidia/0/temperature/2/plot" value="false" />
    <add key="/gpu-nvidia/0/smalldata/2/plot" value="false" />
    <add key="/gpu-nvidia/0/smalldata/0/plot" value="false" />
    <add key="/gpu-nvidia/0/smalldata/1/plot" value="false" />
    <add key="/gpu-nvidia/0/throughput/0/plot" value="false" />
    <add key="/gpu-nvidia/0/throughput/1/plot" value="false" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_5917%26SUBSYS_1C901043%26REV_07%233%2611583659%261%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/power/0/plot" value="false" />
    <add key="/nvme/0/temperature/0/plot" value="false" />
    <add key="/nvme/0/temperature/1/plot" value="false" />
    <add key="/nvme/0/temperature/2/plot" value="false" />
    <add key="/nvme/0/temperature/10/plot" value="false" />
    <add key="/nvme/0/temperature/11/plot" value="false" />
    <add key="/nvme/0/level/20/plot" value="false" />
    <add key="/nvme/0/data/21/plot" value="false" />
    <add key="/nvme/0/data/22/plot" value="false" />
    <add key="/nvme/0/factor/23/plot" value="false" />
    <add key="/nvme/0/factor/24/plot" value="false" />
    <add key="/nvme/0/data/32/plot" value="false" />
    <add key="/nvme/0/load/51/plot" value="false" />
    <add key="/nvme/0/load/52/plot" value="false" />
    <add key="/nvme/0/load/53/plot" value="false" />
    <add key="/nvme/0/throughput/54/plot" value="false" />
    <add key="/nvme/0/throughput/55/plot" value="false" />
    <add key="/nvme/0/level/100/plot" value="false" />
    <add key="/nvme/0/level/101/plot" value="false" />
    <add key="/nvme/0/level/102/plot" value="false" />
    <add key="/nic/%7B79F8145C-7685-43D1-B4BB-5582F9E03FF4%7D/data/2/plot" value="false" />
    <add key="/nic/%7B79F8145C-7685-43D1-B4BB-5582F9E03FF4%7D/data/3/plot" value="false" />
    <add key="/nic/%7B79F8145C-7685-43D1-B4BB-5582F9E03FF4%7D/throughput/7/plot" value="false" />
    <add key="/nic/%7B79F8145C-7685-43D1-B4BB-5582F9E03FF4%7D/throughput/8/plot" value="false" />
    <add key="/nic/%7B79F8145C-7685-43D1-B4BB-5582F9E03FF4%7D/load/1/plot" value="false" />
    <add key="/nic/%7BE80348A5-4B63-4373-B4FD-8565912D6902%7D/data/2/plot" value="false" />
    <add key="/nic/%7BE80348A5-4B63-4373-B4FD-8565912D6902%7D/data/3/plot" value="false" />
    <add key="/nic/%7BE80348A5-4B63-4373-B4FD-8565912D6902%7D/throughput/7/plot" value="false" />
    <add key="/nic/%7BE80348A5-4B63-4373-B4FD-8565912D6902%7D/throughput/8/plot" value="false" />
    <add key="/nic/%7BE80348A5-4B63-4373-B4FD-8565912D6902%7D/load/1/plot" value="false" />
    <add key="/nic/%7B17648DDA-0C8A-4832-BAC8-4C32E5670896%7D/data/2/plot" value="false" />
    <add key="/nic/%7B17648DDA-0C8A-4832-BAC8-4C32E5670896%7D/data/3/plot" value="false" />
    <add key="/nic/%7B17648DDA-0C8A-4832-BAC8-4C32E5670896%7D/throughput/7/plot" value="false" />
    <add key="/nic/%7B17648DDA-0C8A-4832-BAC8-4C32E5670896%7D/throughput/8/plot" value="false" />
    <add key="/nic/%7B17648DDA-0C8A-4832-BAC8-4C32E5670896%7D/load/1/plot" value="false" />
    <add key="/nic/%7B5A642CBE-FAB6-4985-91EB-DDD5300F3F5B%7D/data/2/plot" value="false" />
    <add key="/nic/%7B5A642CBE-FAB6-4985-91EB-DDD5300F3F5B%7D/data/3/plot" value="false" />
    <add key="/nic/%7B5A642CBE-FAB6-4985-91EB-DDD5300F3F5B%7D/throughput/7/plot" value="false" />
    <add key="/nic/%7B5A642CBE-FAB6-4985-91EB-DDD5300F3F5B%7D/throughput/8/plot" value="false" />
    <add key="/nic/%7B5A642CBE-FAB6-4985-91EB-DDD5300F3F5B%7D/load/1/plot" value="false" />
    <add key="/nic/%7B610BA6E5-D73D-4D15-8376-79A348D646C6%7D/data/2/plot" value="false" />
    <add key="/nic/%7B610BA6E5-D73D-4D15-8376-79A348D646C6%7D/data/3/plot" value="false" />
    <add key="/nic/%7B610BA6E5-D73D-4D15-8376-79A348D646C6%7D/throughput/7/plot" value="false" />
    <add key="/nic/%7B610BA6E5-D73D-4D15-8376-79A348D646C6%7D/throughput/8/plot" value="false" />
    <add key="/nic/%7B610BA6E5-D73D-4D15-8376-79A348D646C6%7D/load/1/plot" value="false" />
    <add key="/battery/ASUS-Battery_2/energy/0/plot" value="false" />
    <add key="/battery/ASUS-Battery_2/energy/1/plot" value="false" />
    <add key="/battery/ASUS-Battery_2/level/1/plot" value="false" />
    <add key="theme" value="auto" />
    <add key="plotForm.Location.X" value="-32768" />
    <add key="plotForm.Location.Y" value="100" />
    <add key="plotForm.Width" value="600" />
    <add key="plotForm.Height" value="400" />
    <add key="mainForm.Location.X" value="725" />
    <add key="mainForm.Location.Y" value="184" />
    <add key="mainForm.Width" value="470" />
    <add key="mainForm.Height" value="640" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_5917%26SUBSYS_1C901043%26REV_07%233%2611583659%261%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/smalldata/2/plot" value="false" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_5917%26SUBSYS_1C901043%26REV_07%233%2611583659%261%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/smalldata/1/plot" value="false" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_5917%26SUBSYS_1C901043%26REV_07%233%2611583659%261%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/smalldata/0/plot" value="false" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_5917%26SUBSYS_1C901043%26REV_07%233%2611583659%261%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/load/3/plot" value="false" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_5917%26SUBSYS_1C901043%26REV_07%233%2611583659%261%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/load/7/plot" value="false" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_5917%26SUBSYS_1C901043%26REV_07%233%2611583659%261%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/load/4/plot" value="false" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_5917%26SUBSYS_1C901043%26REV_07%233%2611583659%261%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/load/9/plot" value="false" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_5917%26SUBSYS_1C901043%26REV_07%233%2611583659%261%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/load/8/plot" value="false" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_5917%26SUBSYS_1C901043%26REV_07%233%2611583659%261%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/load/0/plot" value="false" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_5917%26SUBSYS_1C901043%26REV_07%233%2611583659%261%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/load/1/plot" value="false" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_5917%26SUBSYS_1C901043%26REV_07%233%2611583659%261%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/load/2/plot" value="false" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_5917%26SUBSYS_1C901043%26REV_07%233%2611583659%261%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/load/6/plot" value="false" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_5917%26SUBSYS_1C901043%26REV_07%233%2611583659%261%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/load/5/plot" value="false" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_5917%26SUBSYS_1C901043%26REV_07%233%2611583659%261%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/load/10/plot" value="false" />
    <add key="/battery/ASUS-Battery_2/power/0/name" value="Charge/Discharge Rate" />
    <add key="/battery/ASUS-Battery_2/current/0/name" value="Charge/Discharge Current" />
    <add key="/battery/ASUS-Battery_2/energy/2/plot" value="false" />
    <add key="/battery/ASUS-Battery_2/level/0/plot" value="false" />
    <add key="/battery/ASUS-Battery_2/voltage/0/plot" value="false" />
    <add key="/battery/ASUS-Battery_2/current/0/plot" value="false" />
    <add key="/battery/ASUS-Battery_2/power/0/plot" value="false" />
    <add key="/battery/ASUS-Battery_2/temperature/0/values" value="" />
    <add key="/battery/ASUS-Battery_2/timespan/0/values" value="" />
    <add key="/battery/ASUS-Battery_2/power/0/values" value="H4sIAAAAAAAEAJOcfUfgNed9DwYgmDn5vAADFOSl3BCDsA78D778hBEmzrgnSw3GBgAPGWnuPAAAAA==" />
    <add key="/battery/ASUS-Battery_2/current/0/values" value="H4sIAAAAAAAEAJOcfUfgNed9DwYgmDn5vAADFOSl3BCDsA78D778hBEmzrgnSw3GBgAPGWnuPAAAAA==" />
    <add key="/battery/ASUS-Battery_2/energy/2/values" value="H4sIAAAAAAAEAJOcfUfgNed9DwaZP24zJ58XYAABIDsv5YYYmM1w4H/w5SeMMHHGPVlqMDYAotS7QTwAAAA=" />
    <add key="/battery/ASUS-Battery_2/voltage/0/values" value="H4sIAAAAAAAEAJOcfUfgNed9j7NnLBxnTj4vwAAEIHZeyg0xBjA48D/48hNGmDjjniw1GBsA9fX7WDwAAAA=" />
    <add key="/battery/ASUS-Battery_2/level/0/values" value="H4sIAAAAAAAEAJOcfUfgNed9DwaGE04zJ58XYACDE055KTfEIOwD/4MvP2GEiTPuyVKDsQE3C5dTPAAAAA==" />
    <add key="/battery/ASUS-Battery_2/level/1/values" value="" />
    <add key="/battery/ASUS-Battery_2/energy/1/values" value="" />
    <add key="/battery/ASUS-Battery_2/energy/0/values" value="" />
    <add key="/nic/%7B610BA6E5-D73D-4D15-8376-79A348D646C6%7D/load/1/values" value="H4sIAAAAAAAEAJOcfUfgNed9jwXvOGwyPtYxMQBBxf9eW9Yr8WD2l10M1u4V88Fs73kFNruivcDsXR9WW5W81AezI9YGWO4KKQSz5Q4esDKemgpmG1QHW0/lPirGAAYH/n8L+sEIYolarrXZ/SECrGZbmKMVd3cMmB1VHWHdcH8emP3e/5Htpy1RYPYfyyhbw5pQiHv+f7GaNi0OzF5RIGYryhMOZp+YyGTzqTYbzHY9o2J7RyMWzP4hymn9/1YgmP2MI8kqbn07mL1PO8xqc7c3mC3DHmaVyNcNZrOYplsJGOWA2TG63lb36iB+WXNkmtUBgTQwm8PA0hYAxSUp1zgBAAA=" />
    <add key="/nic/%7B610BA6E5-D73D-4D15-8376-79A348D646C6%7D/throughput/8/values" value="H4sIAAAAAAAEAJOcfUfgNed9j3sZXK4ZH+uYGICg+EyMG+uVeDC7Rvems3vFfDC77e92l13RXmB23VIx55KX+mB29qTnjrtCCsFshaMTnY2npoLZZ/J2OE/lPirGAAYH/n8L+sEIYjEFL3TZ/SECrKYrT8WZuzsGzBZiP+DccH8emB0/pdXt05YoMDtrPoebYU0omD3N+5DztGlxYHZQYLqLKE84mM2VcN/lU202mN36ndv1jkYsmP06Rdjl/61AMFvlp4Fz3Pp2MHvL+n9Om7u9wezNJQLOiXzdYPakJ0bOAkY5EDfM4HG+Vwfxi1B2l/MBgTQw+1W8iCsABZ2GGzgBAAA=" />
    <add key="/nic/%7B610BA6E5-D73D-4D15-8376-79A348D646C6%7D/throughput/7/values" value="H4sIAAAAAAAEAJOcfUfgNed9jyMCac4ZH+uYGIDgmtYBV9Yr8WB2iSGPs3vFfDC7t8bAdVe0F5itwZfpXPJSH8zuknnluCukEMw2m8PlbDw1FczmPcjvMpX7qBgDGBz4/y3oByOIVfR5huvuDxFgNUV6vk7c3TFgdlCnoEvD/Xlg9rcHuW6ftkSB2VP3X3U1rAkFs7vV5JynTYsDs33SJd1EecLB7N2MHC6farPB7H2PRdzuaMSC2XtkNjn+vxUIZj+tmOYUt74dzD7meN9pc7c3mB28bY9TIl83mP1RZ56TgFEOmK1pscbpXh3EL7kVeU4HBNLA7Nudmm4AxeqvkTgBAAA=" />
    <add key="/nic/%7B610BA6E5-D73D-4D15-8376-79A348D646C6%7D/data/3/values" value="H4sIAAAAAAAEAJOcfUfgNed9j0/b3ztkfKxjYgACjx3vHVivxIPZ2UC2e8V8MLsIyN4V7QVmlwPZJS/1wewKkHhIIZxtPDUVzK4GsqdyHxVjAIMD/78F/WAEsS7ufO+w+0MEWM0VIJu7OwbMvg5kN9yfB2ab7Hrv8GlLFJg9Fcg2rAkFs3cB2dOmxYHZ+4FsUZ5wMPsySH1tNph9C8i+oxELZr8Esv/fCgSzXwPZcevbwew3QPbmbm84O5GvG8x+B2QLGOWA2R+A7Ht1EL98ArIPCKSB2f+BbACm6BetOAEAAA==" />
    <add key="/nic/%7B610BA6E5-D73D-4D15-8376-79A348D646C6%7D/data/2/values" value="H4sIAAAAAAAEAJOcfUfgNed9j8C0XruMj3VMDEDgn9Frx3olHszektlr514xH8yentVrtyvaC8xmye61K3mpD2aLA9m7QgrBbBUg23hqKpgdC2RP5T4qxgAGB/5/C/rBCGLJtPba7f4QAVazHMjm7o4Bsy8A2Q3354HZh7p77T5tiQKzGSf02hnWhELUT+y1mzYtDsx+NanXTpQnHMx+ORWovjYbzFad3mt3RyMWzH4xs9fu/61AMPsNkB23vh1i5qxeu83d3mA2B5CdyNcNZosB2QJGOWC2IpB9rw7iFy0g+4BAGpjNNa/XDgAQSfJnOAEAAA==" />
    <add key="/nic/%7B5A642CBE-FAB6-4985-91EB-DDD5300F3F5B%7D/load/1/values" value="H4sIAAAAAAAEANtcdEfgNed9DwYgMJ16XoABCqZyHxWDsA78/xb0gxEmzrgnSw3GBgDwYhywPAAAAA==" />
    <add key="/nic/%7B5A642CBE-FAB6-4985-91EB-DDD5300F3F5B%7D/throughput/8/values" value="H4sIAAAAAAAEANtcdEfgNed9DwYgMJ16XoABCqZyHxWDsA78/xb0gxEmzrgnSw3GBgDwYhywPAAAAA==" />
    <add key="/nic/%7B5A642CBE-FAB6-4985-91EB-DDD5300F3F5B%7D/throughput/7/values" value="H4sIAAAAAAAEANtcdEfgNed9DwYgMJ16XoABCqZyHxWDsA78/xb0gxEmzrgnSw3GBgDwYhywPAAAAA==" />
    <add key="/nic/%7B5A642CBE-FAB6-4985-91EB-DDD5300F3F5B%7D/data/3/values" value="H4sIAAAAAAAEANtcdEfgNed9DwYgMJ16XoABCqZyHxWDsA78/xb0gxEmzrgnSw3GBgDwYhywPAAAAA==" />
    <add key="/nic/%7B5A642CBE-FAB6-4985-91EB-DDD5300F3F5B%7D/data/2/values" value="H4sIAAAAAAAEANtcdEfgNed9DwYgMJ16XoABCqZyHxWDsA78/xb0gxEmzrgnSw3GBgDwYhywPAAAAA==" />
    <add key="/nic/%7B17648DDA-0C8A-4832-BAC8-4C32E5670896%7D/load/1/values" value="H4sIAAAAAAAEANtcdEfgNed9DwYgMJ16XoABCqZyHxWDsA78/xb0gxEmzrgnSw3GBgDwYhywPAAAAA==" />
    <add key="/nic/%7B17648DDA-0C8A-4832-BAC8-4C32E5670896%7D/throughput/8/values" value="H4sIAAAAAAAEANtcdEfgNed9DwYgMJ16XoABCqZyHxWDsA78/xb0gxEmzrgnSw3GBgDwYhywPAAAAA==" />
    <add key="/nic/%7B17648DDA-0C8A-4832-BAC8-4C32E5670896%7D/throughput/7/values" value="H4sIAAAAAAAEANtcdEfgNed9DwYgMJ16XoABCqZyHxWDsA78/xb0gxEmzrgnSw3GBgDwYhywPAAAAA==" />
    <add key="/nic/%7B17648DDA-0C8A-4832-BAC8-4C32E5670896%7D/data/3/values" value="H4sIAAAAAAAEANtcdEfgNed9DwYgMJ16XoABCqZyHxWDsA78/xb0gxEmzrgnSw3GBgDwYhywPAAAAA==" />
    <add key="/nic/%7B17648DDA-0C8A-4832-BAC8-4C32E5670896%7D/data/2/values" value="H4sIAAAAAAAEANtcdEfgNed9DwYgMJ16XoABCqZyHxWDsA78/xb0gxEmzrgnSw3GBgDwYhywPAAAAA==" />
    <add key="/nic/%7BE80348A5-4B63-4373-B4FD-8565912D6902%7D/load/1/values" value="H4sIAAAAAAAEANtcdEfgNed9DwYgMJ16XoABCqZyHxWDsA78X8LygxEmHsyVrQZjAwAc3V5RPAAAAA==" />
    <add key="/nic/%7BE80348A5-4B63-4373-B4FD-8565912D6902%7D/throughput/8/values" value="H4sIAAAAAAAEANtcdEfgNed9DwYgMJ16XoABCqZyHxWDsA78X8LygxEmHsyVrQZjAwAc3V5RPAAAAA==" />
    <add key="/nic/%7BE80348A5-4B63-4373-B4FD-8565912D6902%7D/throughput/7/values" value="H4sIAAAAAAAEANtcdEfgNed9DwYgMJ16XoABCqZyHxWDsA78X8LygxEmHsyVrQZjAwAc3V5RPAAAAA==" />
    <add key="/nic/%7BE80348A5-4B63-4373-B4FD-8565912D6902%7D/data/3/values" value="H4sIAAAAAAAEANtcdEfgNed9DwYgMJ16XoABCqZyHxWDsA78X8LygxEmHsyVrQZjAwAc3V5RPAAAAA==" />
    <add key="/nic/%7BE80348A5-4B63-4373-B4FD-8565912D6902%7D/data/2/values" value="H4sIAAAAAAAEANtcdEfgNed9DwYgMJ16XoABCqZyHxWDsA78X8LygxEmHsyVrQZjAwAc3V5RPAAAAA==" />
    <add key="/nic/%7B79F8145C-7685-43D1-B4BB-5582F9E03FF4%7D/load/1/values" value="H4sIAAAAAAAEANtcdEfgNed9DwYgMJ16XoABCqZyHxWDsA78X8LygxEmHsyVrQZjAwAc3V5RPAAAAA==" />
    <add key="/nic/%7B79F8145C-7685-43D1-B4BB-5582F9E03FF4%7D/throughput/8/values" value="H4sIAAAAAAAEANtcdEfgNed9DwYgMJ16XoABCqZyHxWDsA78X8LygxEmHsyVrQZjAwAc3V5RPAAAAA==" />
    <add key="/nic/%7B79F8145C-7685-43D1-B4BB-5582F9E03FF4%7D/throughput/7/values" value="H4sIAAAAAAAEANtcdEfgNed9DwYgMJ16XoABCqZyHxWDsA78X8LygxEmHsyVrQZjAwAc3V5RPAAAAA==" />
    <add key="/nic/%7B79F8145C-7685-43D1-B4BB-5582F9E03FF4%7D/data/3/values" value="H4sIAAAAAAAEANtcdEfgNed9DwYgMJ16XoABCqZyHxWDsA78X8LygxEmHsyVrQZjAwAc3V5RPAAAAA==" />
    <add key="/nic/%7B79F8145C-7685-43D1-B4BB-5582F9E03FF4%7D/data/2/values" value="H4sIAAAAAAAEANtcdEfgNed9DwYgMJ16XoABCqZyHxWDsA78X8LygxEmHsyVrQZjAwAc3V5RPAAAAA==" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_5917%26SUBSYS_1C901043%26REV_07%233%2611583659%261%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/load/10/values" value="H4sIAAAAAAAEADPsuinwmvO+BwMQrIi6IMAABQ7vasUgrAP/jTPtmWDizVOz1GBsAGaJwVE8AAAA" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_5917%26SUBSYS_1C901043%26REV_07%233%2611583659%261%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/load/9/values" value="H4sIAAAAAAAEADPsuinwmvO+BwMQrIi6IMAABQ7vasUgrAP/jTPtmWDizVOz1GBsAGaJwVE8AAAA" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_5917%26SUBSYS_1C901043%26REV_07%233%2611583659%261%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/load/8/values" value="H4sIAAAAAAAEADPsuinwmvO+BwMQrIi6IMAABQ7vasUgrAP/jTPtmWDizVOz1GBsAGaJwVE8AAAA" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_5917%26SUBSYS_1C901043%26REV_07%233%2611583659%261%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/load/7/values" value="H4sIAAAAAAAEADPsuinwmvO+BwMQrIi6IMAABQ7vasUgrAP/jTPtmWDizVOz1GBsAGaJwVE8AAAA" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_5917%26SUBSYS_1C901043%26REV_07%233%2611583659%261%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/load/6/values" value="H4sIAAAAAAAEADPsuinwmvO+BwMQrIi6IMAABQ7vasUgrAP/jTPtmWDizVOz1GBsAGaJwVE8AAAA" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_5917%26SUBSYS_1C901043%26REV_07%233%2611583659%261%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/load/5/values" value="H4sIAAAAAAAEADPsuinwmvO+BwMQrIi6IMAABQ7vasUgrAP/jTPtmWDizVOz1GBsAGaJwVE8AAAA" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_5917%26SUBSYS_1C901043%26REV_07%233%2611583659%261%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/load/4/values" value="H4sIAAAAAAAEADPsuinwmvO+BwMQrIi6IMAABQ7vasUgrAP/jTPtmWDizVOz1GBsAGaJwVE8AAAA" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_5917%26SUBSYS_1C901043%26REV_07%233%2611583659%261%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/load/3/values" value="H4sIAAAAAAAEADPsuinwmvO+x4U+Fwex3nomBiBo3fzCfv2LeDD7FweXwzKmuWB2nFqXA9dOHzB7ipKxg9oXfTBb6xO3w+pbRWC2BMd8h6SoFDD7TGaQg8O7WjEGMDjw3zjTHixuZxLv0OYeAWZfmMnhIBsUC2bzuck6qDTPA7OPTHFyuPAlEsye5LvcIW5BOJjN3+ThMHEbRL1OF5vD2o4wMNv2pbzDd5YcMPtyvIrD3NMxYPYcUymHmK9BYPauCaoOClxtYHaEh7pDo64fmG2Zbenw3a0TYn4Jp8O/FdlgtpiEvcPyolQw+45woYOySxqYvSx2rQMA3JF6YjgBAAA=" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_5917%26SUBSYS_1C901043%26REV_07%233%2611583659%261%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/load/2/values" value="H4sIAAAAAAAEADPsuinwmvO+BwMQrIi6IMAABQ7vasUgrAP/jTPtmWDizVOz1GBsAGaJwVE8AAAA" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_5917%26SUBSYS_1C901043%26REV_07%233%2611583659%261%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/load/1/values" value="H4sIAAAAAAAEADPsuinwmvO+BwMQrIi6IMAABQ7vasUgrAP/jTPtmWDizVOz1GBsAGaJwVE8AAAA" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_5917%26SUBSYS_1C901043%26REV_07%233%2611583659%261%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/load/0/values" value="H4sIAAAAAAAEADPsuinwmvO+BwMQrIi6IMAABQ7vasUgrAP/jTPtmWDizVOz1GBsAGaJwVE8AAAA" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_5917%26SUBSYS_1C901043%26REV_07%233%2611583659%261%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/power/0/values" value="H4sIAAAAAAAEADPsuinwmvO+R78lo61Ybz0TAxBk2Ey1Wf8iHszePG+TzTKmuWC2yH4/W66dPmD2kfNstmpf9MHss+xHbFbfKgKzWerSbZOiUsDsZyfZbB3e1YoxgMGB/8aZ9mDx63v5bNvcI8DsPy+22cgGxULUh3+wUWmeB2Yb1PDZXvgSCWbXSLTbxi0IB7ODmuVsJ26DqD96cq/N2o4wMPsB4wub7yw5YPa9kl82c0/HgNnfnO7axHwNArO3rPhio8DVBmab3f1j06jrB3GPMKftd7dOMHvBsSM2/1Zkg9kejzlslxelgtmrVKVtlV3SwOyf06NsAY76CGY4AQAA" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_5917%26SUBSYS_1C901043%26REV_07%233%2611583659%261%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/smalldata/2/values" value="H4sIAAAAAAAEADPsuinwmvO+x56Lf11XRF0QYAACENvhXa0YAxgc+G+cac8EE2+emqUGYwMALzlWWjwAAAA=" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_5917%26SUBSYS_1C901043%26REV_07%233%2611583659%261%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/smalldata/1/values" value="H4sIAAAAAAAEAFN40in4mvO+R5jkF9e03KlMDEAgI/vFVT3SGcxeAWR7O0SA2feufnZ1+BwJZjt8+uz69VkomF3C9sU1XDcWzI5799l16oN4CQYwOPBfbtFXsPgOz8+uG1ggarqA7IZXEL07PD67/uhIArNPRX52PfU/DMwWivrsevHQRDA7oOWz69KFEL05TZ9dF0w0BLMLgGy1nBlgdgqQ/UsAoubFzM+uL776gNkhGz+7PgpIhbNr7kHs9QOypc4nw9mb+kvB7HcrP7uKbY+HiE/97BqYlAFmP/H97AoA0QOS5ywBAAA=" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_5917%26SUBSYS_1C901043%26REV_07%233%2611583659%261%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/smalldata/0/values" value="H4sIAAAAAAAEADPsuinwmvO+R0LbbGex3nomBhDwmu28/kU8mO3gONt5GdNcMPvB3vnOXDt9wOwD3+c6q33RB7MbtsxxXn2rCKLGdJ5zUlQKmK3wY56zw7taMbCZDAf+G2faQ8xsWOHc5h4BUdO8wlk2KBYiPmGFs0rzPIh4/XLnC18iwewFVcud4xaEQ+y9tsR54jaIeoavS5zXdoRBxL8scf7OkgNxD1B87ukYiJm1i51jvgZBxNkWOStwtcHZjbp+EDcD2d/dOuHsfyuyIeyaRc7Li1Ih7GOLnZVd0iB6bVc4AwDcN8r6OAEAAA==" />
    <add key="/gpu-nvidia/0/smalldata/2/values" value="H4sIAAAAAAAEAOOapC3wmvO+BwMDg+tqueMCDBDgmtbCJA5hHvjP03KAESbOOClUDcYGADpzu6M8AAAA" />
    <add key="/gpu-nvidia/0/smalldata/1/values" value="H4sIAAAAAAAEAOOapC3wmvO+BwPDPKfVcscFGMBgnlNaC5M4hH3gP0/LAUaYOOOkUDUYGwC7TH1LPAAAAA==" />
    <add key="/gpu-nvidia/0/smalldata/0/values" value="H4sIAAAAAAAEAOOapC3wmvO+BwPDN5fVcscFGMDgm0taC5M4hH3gP0/LAUaYOOOkUDUYGwBxfMOTPAAAAA==" />
    <add key="/gpu-nvidia/0/load/8/values" value="H4sIAAAAAAAEAOOapC3wmvO+BwMQrJY7LsAABWktTOIQ1oH/FTYHGGHifCmhajA2AEIfdL08AAAA" />
    <add key="/gpu-nvidia/0/load/7/values" value="H4sIAAAAAAAEAOOapC3wmvO+BwMQrJY7LsAABWktTOIQ1oH/FTYHGGHifCmhajA2AEIfdL08AAAA" />
    <add key="/gpu-nvidia/0/load/6/values" value="H4sIAAAAAAAEAOOapC3wmvO+BwMQrJY7LsAABWktTOIQ1oH/FTYHGGHifCmhajA2AEIfdL08AAAA" />
    <add key="/gpu-nvidia/0/load/5/values" value="H4sIAAAAAAAEAOOapC3wmvO+BwMQrJY7LsAABWktTOIQ1oH/FTYHGGHifCmhajA2AEIfdL08AAAA" />
    <add key="/gpu-nvidia/0/smalldata/4/values" value="H4sIAAAAAAAEAOOapC3wmvO+BwNDg91queMCDGDQYJfWwiQOYR/4/1z9ACNMfH5FqBqMDQAmupVDPAAAAA==" />
    <add key="/gpu-nvidia/0/smalldata/3/values" value="H4sIAAAAAAAEAOOapC3wmvO+B8ODBvvonFQmBhBoaLS3kSyEsBc02usLRELYCU32H9yToWoa7A2sKiBshSZ7ZocoqPgB+0PHEuFq0lqYxMFshgP/n6sfYAQzHQ7Yx/rFw/XazYXpbbL3WJMHYTNcsPE0WARhO7Dan5DSg7I57Ks3xkHVrLRXlouFm9PxMhvCPtBgz5eRADdz+l2omx3E7GN/1kPVsNjLVkXC1QTJp0DFWe0jt+VDzWe1nxWeBjdf8VsM1JwmewD27kdNOAEAAA==" />
    <add key="/gpu-nvidia/0/throughput/1/values" value="H4sIAAAAAAAEAOP08RB4zXnfg8HBz3OTchATAwh4cHlNqFwKYSs88Sy/ag9hX3jhubsoCcIW6Pa0UY2Fsrm9/iv1Q9gJbZ7xuhkQ9oIez+OKe8TAbIYD/6cW/2SEiId7ck6Ogai5we1VtMgKwjY44PltUTVUL49XSUoXhO0wx1NEUR/qBlmvGt95EPaHBZ7JJkFwN5zuTYewf6h7ifmlQNgBgl4Hiz0h7AP8Xidmp0H1Knhd0Y+EsDcwelkvSoawGcS8XK4UQu1i8eowS4XqPegpsCsKyr7lCQAwC3sCOAEAAA==" />
    <add key="/gpu-nvidia/0/throughput/0/values" value="H4sIAAAAAAAEAIu8YSnwmvO+BwNnhzfnwmgmBhD44ukTPnkBmN1wj8dH6YALhM0q7PNXIxiiJqHN+2N3LkR8AZ/PC51OiDhHi7fFDmsIu7jd+2viJzEwm+HAf9nJFxnBTM8+7xS2KIjeEC6fmTchbIZJbD7P80sh7GliPn/ZpkHYry57hxjpQ9TXGvoceDcRIr7qmfcfGweI+GQen+yeUIg4V7hPwekUiDgTu4/OzjgIW1LCR/1PA0QNg5iPo1MkhD2Zyyd8XjJEjY6kz8bThRDxJ5w+T6xTIeyQN96Jb6DufMniAwCth4FxOAEAAA==" />
    <add key="/gpu-nvidia/0/power/0/values" value="" />
    <add key="/gpu-nvidia/0/voltage/0/values" value="H4sIAAAAAAAEAOOapC3wmvO+h7Gxtv1queMCDEAAYss5vBJjAIMD/2vn3mCEiW+bGqoGYwMAi2MSQTwAAAA=" />
    <add key="/gpu-nvidia/0/load/3/values" value="H4sIAAAAAAAEAFPfudXyNed9D4WlFQ6Mk0LVGIAAxAYAWjSUvxgAAAA=" />
    <add key="/gpu-nvidia/0/load/2/values" value="H4sIAAAAAAAEAOOapC3wmvO+BwMQrJY7LsAABXIOr8QgrAP/a+feYISJb5saqgZjAwBdshzKPAAAAA==" />
    <add key="/gpu-nvidia/0/load/1/values" value="H4sIAAAAAAAEAOOapC3wmvO+BwMQrJY7LsAABXIOr8QgrAP/a+feYISJb5saqgZjAwBdshzKPAAAAA==" />
    <add key="/gpu-nvidia/0/load/0/values" value="H4sIAAAAAAAEAOOapC3wmvO+BwMDg/27k9dYGCDAPvVTBBOE2WDn7ZEMZTMwfM2rgLHtw55EQtkO9oeOJcLVyzm8EoOwD/yvnXuDEabed9dOuPnRl/Pg6rObFsHNZz6lCxfn7oyDs/ncYuH2Br/KhotH2CfAxaffhbvTPsa9AW6mnE4kXP2EvBS4GmtmY3YYGwAlUK+tCAEAAA==" />
    <add key="/gpu-nvidia/0/clock/4/values" value="H4sIAAAAAAAEAOOapC3wmvO+B0PDKefVcscFGEAAyJZzeCUGZjMc+F879wYjTHzb1FA1GBsAYYUmVDwAAAA=" />
    <add key="/gpu-nvidia/0/clock/0/values" value="H4sIAAAAAAAEAOOapC3wmvO+B4PBV+fonFQmBhAAsifHFkLYD8RdUj9FwNneHslwNSruFXBxdZ4ouPihY4lwtpzDKzEwm+HA/9q5Nxhh6vll4+F67eZC9S7Y5Rx9OQ/Ozm5aBDeHL7iHBc52i4XrDX6VDVcTYZ8AF59+NxluTox7A8I9OpFwNRPyUuDi0un5cPas8DS4mjYXhF0ASQ2RNywBAAA=" />
    <add key="/gpu-nvidia/0/temperature/3/values" value="H4sIAAAAAAAEAOOapC3wmvO+BwMQrJY7LsAABXIOr8QgrAP/DzTcYISJ93SHqsHYADO+TKQ8AAAA" />
    <add key="/gpu-nvidia/0/temperature/2/values" value="H4sIAAAAAAAEAOOapC3wmvO+B8OOXKfonFQmBhAoyHOaHFsIYc/Ic0r9FAEX9/ZIhrAZ8pzmKFdA2AF5Tuv1oyBsjTynQ8cSIewNuU5yDq/EIOoP/D/QcIMRzOzIdTpjGQ9R05DrZDc3Cs72WJMHtSvXKadpEYR9Itdp6QldCBvozuqNcRC2Q66TslwshJ0ANEcoB86OsE+Au2H6XaibJXKdghUaIGyPXCf14EioH3OditxSoP7KdbLsz4ewL+Q4zQpPg7AFcp3my0Lt4sh1AgBsxz+mOAEAAA==" />
    <add key="/gpu-nvidia/0/temperature/0/values" value="H4sIAAAAAAAEAOOapC3wmvO+BwODj9NqueMCDGDg4yTn8EoMwj7w/0DDDUaYOOO8LXA1HS+zmSBsbye+jAQmmPj0u8lwdrBCA1yNenAkXDxNeTonjA0A8Y0xLYQAAAA=" />
    <add key="/ram/load/0/values" value="H4sIAAAAAAAEAGu/eFjgNed9jwUr450WbM9kYgCCuv3xTl+eJIPZO8/GO+X9awGzQwUSnM6H+YDZcwUTnN7oh4PZUp/jnSwlEsDspP/xTnsSUsDsf3/ina5WiYgxgMGB/wvFVoPFK47FOG3uyQCzVy6NcZI8lw5md5XEOJX75YLZj3tjnKLqssDsLQGxTvl3I8HsnqRYJ46eRDB7e0isU6Z6IcRe71gntogIMLtsYoxT+EuImsc+MU7qDyF+iTKOcTpyPRXM5rOKcSptgKhZLxLj9GBGGpgdIhTj9OonxA1L5GKcnvlB/CIBFBeSyIGoZ45xAgCG0XVvOAEAAA==" />
    <add key="/ram/data/1/values" value="H4sIAAAAAAAEAGu/eFjgNed9D7ZT9x0WbM9kYgACt3X3Hb48SQazzebcd8j71wJmr3O/73A+zAfM5nO77/BGPxzMPpZz38FSIgHMNoi977AnIQXMtki473C1SkSMAQwO/F8othosLlLy2GFzTwaYvWvuYwfJc+lgtsCdxw7lfrlg9rPdjx2i6rLA7BVHHjnk340Es5nWPXLg6EkEsyfsf+SQqV4IZmecfuTAFhEBZsdsf+wQ/hKiJonviYP6Q4hfTuk9cThyPRXM9lB74lDaAFGzLfSJw4MZaWD2pognDq9+Qtwg4vnE4ZkfxC8MkU8chCRywGyv7CcOAOdwvy84AQAA" />
    <add key="/ram/data/0/values" value="H4sIAAAAAAAEAGu/eFjgNed9j51veB0XbM9kYgCCmb94Hb88SQazFzLzOeb9awGzn+ryOZ4P8wGzt+rxOb7RDwezI6X5HC0lEsBsFWU+xz0JKWD2AkU+x6tVImIMYHDg/0Kx1WDxTeI8jpt7MsDs+0w8jpLn0sHsLY+5Hcv9csHsk5+5HaPqssDsjHwex/y7kWD27ioeR46eRDD7SyGPY6Z6IZjNkcPjyBYRAWbzfeN2DH8JUdN9ittR/SHEL+G7uB2PXE8Fs2fs43YsbYCoebiM2/HBjDQwO3kpt+OrnxA3GK3ldnzmB/GLDVBcSCIHzBafw+0IAEGI9QU4AQAA" />
    <add key="/vram/load/1/values" value="H4sIAAAAAAAEAGu/eFjgNed9j5oFlU4LtmcyMQDB+j2VTl+eJIPZ8QcrnfL+tYDZjz9WOp0P8wGzDzBVOb3RDwezJ/ypdLKUSACzrXirnPYkpIDZBc8rna5WiYgxgMGB/wvFVoPFNeMqnDb3ZIDZ9xQqnCTPpYPZx/gqnMr9csHsiwYVTlF1WWB2yd0Kp/y7kWD2028VThw9iWD2k1cVTpnqhWC224MKJ7aICIgauwqn8JcQNWZCFU7qDyF++fit3OnI9VQw+9P3cqfSBoiaxlvlTg9mpIHZOfvLnV79hLih5Vy50zM/iF/Sv5Y7CUnkgNkWf8qdAOBhNN84AQAA" />
    <add key="/vram/data/3/values" value="H4sIAAAAAAAEAGu/eFjgNed9D417pxwWbM9kYgACuR2nHL48SQazz2w85ZD3rwXMjig45XA+zAfMnhZ5yuGNfjiY/SHxlIOlRAKYXeJ9ymFPQgqYXVB3yuFqlYgYAxgc+L9QbDVYnGniGYfNPRlg9qbHZxwkz6WD2TJ/zjiU++WC2XrnzjhE1WWB2R5PTzvk340Es78cOu3A0ZMIZqtdPu2QqV4IZlc8PO3AFhEBZhvsPuMQ/hKipuL7GQf1hxC/OMmcdThyPRXMfiZ11qG0AaJmgdNZhwcz0sBsjfSzDq9+QtxwJuiswzM/iF/C5M46CEnkgNkqomcdAPe8fp84AQAA" />
    <add key="/vram/data/2/values" value="H4sIAAAAAAAEAGu/eFjgNed9jxVJGo4LtmcyMQDB2lINxy9PksHsaxUajnn/WsDsCTM1HM+H+YDZH5doOL7RDwezjyzQcLSUSACzmdZoOO5JSAGzWyZpOF6tEhFjAIMD/xeKrQaLW3eqO27uyQCzH8erO0qeSwez1wWrO5b75YLZS7PUHaPqssBsifvqjvl3I8Fspw/qjhw9iWC25gt1x0z1QjCb4aG6I1tEBJitUqLuGP4SooYhTN1R/SHEL7Od1R2PXE8Fsz1d1B1LGyBqcgzUHR/MSAOzNeTUHV/9hLghTEPd8ZkfxC8TndQdhSRywGwtd3VHAPC/wJ04AQAA" />
    <add key="/intelcpu/0/voltage/4/values" value="H4sIAAAAAAAEADvoqC3wmvO+B0OBl31DVioTAwjUxdgnZBdC2N8C7b88i4CwXULs13omQ9ivouz/vkqEsI+l2G/ZVgDVm2B/6BhUPCDOXm3ORDEwm+HA/0WXDCDinzzsH3XHQ9gsKfZ2c6Mg7H3p9mmeeRB2Vq397bRqCLsl2P5rbwCEfS3cfl4W1A1HW+1/3omBsFcV27/dlg11Z5795dsJEPakbPsFJ6HqtVvsp8tC2f+b7fsioe5kSLH3b4SqX91i3/E6E8L+k24/50QKhK3mYc/CXQNhP4i0BwDPZsmUOAEAAA==" />
    <add key="/intelcpu/0/voltage/3/values" value="H4sIAAAAAAAEADvoqC3wmvO+B0OHl31DVioTAwicirYXziiEsHMC7R1fRUDYd0Lt24ySIex5kfYqTElQ9Sn2W7YVQNjX4u0PHUuEsDXi7dXmTBQDsxkO/F90yQAi/szD/lF3PITtlWlvNzcKwv6Xbp/mmQdhr6qzL+IuhrD7Qu3jXkLdcC/cfl4W1A01HfY/78RA2GcK7e9kZEPY3/Ltn2hC3XAr3X7BSaj6pc32oVJQNlOt/YUYqJpNyfb+jQkQtmCLfcfrTAh7Tbr99FUpEHaQlz2nZg2E7RJpDwC20G57OAEAAA==" />
    <add key="/intelcpu/0/voltage/2/values" value="H4sIAAAAAAAEADvoqC3wmvO+B8MML/uGrFQmBhDgiLd/n1IIYTcF2Be+ioCwjcLsq0yTIWyeKHsVpiQIuyvNfsu2AghbJcX+0LFECHtBor3anIliYDbDgf+LLhlAxG952D/qjoewI7Ls7eZGQdgZmfZpnnlQNXX2pkoZEHZVmP3sS1B7uyLs52VB2a2d9j/vxEDYEiX2dzKyIewzBfZPNKFucMixX3ASqv5Sm70nG5Qt1Wp/pwCmJtXevzEBwn5RZ9/xOhPCTsuwn74qBcLu8LDn1KyBsF0i7QGk7+++OAEAAA==" />
    <add key="/intelcpu/0/voltage/1/values" value="H4sIAAAAAAAEADvoqC3wmvO+B8MHb/uGrFQmBhDISrSfEVYIYT8JtGd8FQFhO4XbO7okQ9ge0fYqTEkQ9qkg+y3bCiBsoxT7Q8cSIeyKFHu1ORPFwGyGA/8XXTKAiK/ytn/UHQ9hu+TY282NgrB1Mu3TPPMg7Fl19ndYMyBsnyj7L++g9tqF28/LgrLNOux/3omBsBcU2DM5ZEPYIrn2+4Kgbgiosl9wEqpeutXekw3K5m2zv1MAVbMnzd6/MQHCLm2x73idCWG/i7Sf1pwCYQt52Utq1kDDJMIeAIffi4o4AQAA" />
    <add key="/intelcpu/0/voltage/0/values" value="H4sIAAAAAAAEADvoqC3wmvO+B4OAt31DVioTAwhEJdrPCCuEsNeE2jO+ioCwdSLtHV2SIewvSfYqTEkQ9qwQ+y3bCiDsKWn21fbhEPaqePtc5TliYDbDgf+LLhlAxIu87R91x0PYCVn2dnOjIOwFWfYnY3MhbLEG+8qPGRD2kmj7rkdQ9e/i7DnK0yHsTS32P+/EQNgV5fZH90HVv8m2/30Z6s6AKvsFJ6Hsg432nmxQNkOV/Z2CRAi7L9PevzEBwr7aYH/jViaEHRFt7zYlBcKe42UvqVkDYZ+JsgcA/18dBDgBAAA=" />
    <add key="/intelcpu/0/power/4/values" value="H4sIAAAAAAAEADvoqC3wmvO+h9IRRseGrFQmBiBwzeJynBFWCGZ3LWV3ZHwVAWYH7uR0dHRJBrMbulgdVZiSwOwC7d8OW7YVgNkvZEUcq+3Dwex7Yn8ccpXniDGAwYH/iy4ZgMUnTfzu8Kg7Hsxu42B3tJsbBWYv0mRwPBmbC2Z/m8TlWPkxA2LmPg7HrkcQ9S/PMzpylKeD2R1ZLI4/78SA2RPt2RyP7oOoz73M7vj7MsSdAXb/HRachLCXvGNx9GSDsMv2/3G4U5AIZltF8jn6NyaA2cz7fzjcuJUJZoeJ8Di6TUkBs89PZ3WU1KwBs2OiOBwBaiFmsjgBAAA=" />
    <add key="/intelcpu/0/power/3/values" value="H4sIAAAAAAAEADvoqC3wmvO+h66Ssn1DVioTAxBMqleznxFWCGZ3H5exZ3wVAWYvvKpt7+iSDGZvEDaxV2FKArM/zWOy37KtAMw+wmhrX20fDmYzPRO3z1WeI8YABgf+L7pkABYPq+S3f9QdD2b3WYjZ282NArOjZVnsT8bmgtkHOZXsKz9mgNkCDvH2XY8g6ruu29hzlKeD2ZMjeex/3okBs9fFMtof3QdRL1MhZv/7MsSdcovY7BechLCz1/+382SDsP/pCtjfKUgEs1VKRe39GxPA7Diuv3Y3bmWC2fsOC9m7TUkBs8tPqdlLataA2XcEPe0B4QHg1DgBAAA=" />
    <add key="/intelcpu/0/power/1/values" value="H4sIAAAAAAAEADvoqC3wmvO+x2kzA4eGrFQmBiDo4qx0mBFWCGZPOpzuwPgqAsyeYFjv4OiSDGbf88pyUGFKArPP2gc5bNlWAGYHHJ3tUG0fDmbf0nJzyFWeI8YABgf+L7pkABZfV2Tm8Kg7Hsz2ONniYDc3Csz+2BrhcDI2F8xOOtfmUPkxA8wWs6lx6HoEUR/1x8yBozwdzL4iUOzw804MmJ2xv9Ph6D6I+nk6DQ6/L0PcWaUf67DgJIR9yLXJwZMNwpZ77+dwpyARzO48OcPBvzEBzN4zJdDhxq1MMPsI3wQHtykpYHbFrjwHSc0aMNutItcBALkkwcg4AQAA" />
    <add key="/intelcpu/0/power/0/values" value="H4sIAAAAAAAEADvoqC3wmvO+h1/ZHIeGrFQmBiBI33bQYUZYIZj9r2mnA+OrCDBbY/4RB0eXZDA77tEuBxWmJDC7ym+lw5ZtBWB2sv1jh2r7cDD70t+lDrnKc8QYwODA/0WXDMDiNybPc3jUHQ9mS9057mA3NwrM1vJf73AyNhdivtpph8qPGWB2nuExh65HEPWHLRc7cJSng9kbU/Y4/LwTA2ZfnXra4eg+iPqu20ccfl+GuLP+1waHBSch7C/fDjt4skHY+corHe4UJILZUXx3HPwbE8DslY9XOty4lQlmT5pyxcFtSgqYbZO1x0FSswbMFvDZ5wAAGLj5oDgBAAA=" />
    <add key="/intelcpu/0/clock/4/values" value="H4sIAAAAAAAEADvoqC3wmvO+h5viH5eGrFQmBiA480XMdUZYIZg9p5HLlfFVBJg9C8h2dEkGs012C7iqMCWB2TN3Mrlu2VYAZjPfEHattg8Hs9Pn8brmKs8RYwCDA/8XXTIAi3sw/HR51B0PZht7K7jazY2Cs0/G5oLZjD+MXCs/ZkDEgXZ1PYqH28tRns4EMdLK9eedGDD7nI+e69F9EPVn9si5/r4McWf6NxXXBSeh7DYTV082CPssUP2dgkSIXQukXf0bE8DsNKCaG7cy4f51m5ICZp+Q+eMiqVkDsUuH3xUAOVoEzDgBAAA=" />
    <add key="/intelcpu/0/clock/3/values" value="H4sIAAAAAAAEAPtySkPgNed9DzfFPy4W+alMDEBw5ouYq2hwIZjNtEDadRprJJg9q5HLtdgpGcw+66PnGvwuEcz+d13Y9eGOAjD7vA6/q4NzOJidsU/HVbZ3nhgDGBz4z11qABb3YPjpolYUC2YbCWu49s2IArONvRVcPabmg9npbSau1xLTweyZnkKuq9PiIeJpoq55t1PAbMYfRq5zTSFuMFls7vrsfhqYzZCh7Hp/H8SdszINXR88h7J/Org+/J0EsatZwvVKMVQv0N4NtQkQMw20XTs2Z0Psmsfr6noCov50Crur4q4qiPrPHK4AcYt7XjgBAAA=" />
    <add key="/intelcpu/0/clock/2/values" value="H4sIAAAAAAAEADsRqCbwmvO+h4Xdf5ebealMDECQlibq+i22EMxmWiDt2sgWCRHfp+O62SkZzGYw0HbVfZUIZhs2S7gerU0Bs812C7gK10LUZLSZuHIzLBQDq2c48P8lpx5YfNWxTy5nS2LB7DMtaq7bm6Ig5uvJunKl54HZ50TMXDmuZoHZ/68Lu2pbQ9SnA93GdhJil8lic1clI4gb0v1sXCd8TIO7892CZLga7kXJcDVWDhD2//nSrsu7IXpn31R07U9JArMZgf4yPpIJUT+P11UQ6q/TKeyuihZlEDOB/gUAMSVZnDgBAAA=" />
    <add key="/intelcpu/0/clock/1/values" value="H4sIAAAAAAAEAHN9oCzwmvO+h4XdfxeW7FQmBiCYtZPJNXpGOpidqSfrmns+CczOALL3WSWD2QwLpF2fvU0Es1P36bh+ak8Bs5lvCLs+3glhn7tj6xqov0gMrJ7hwP+9zxXB4koCPK4+ehDzGQy0Xc83RIHZaWmiro4xBRA3ZBq6itmngdn/rwu7dn2Kh5ipw+8asQ5i/qyFmq63tSBumGVo6Vr+B6I+DejOlk0QdzIesHI1ngBhmzRLuDaoQdhp11hdP7QlwsWvv4SIn/PRc7VTzQSz0+fxupY+hIgbajO69guVQuwSlHIFADZ3KTs4AQAA" />
    <add key="/intelcpu/0/clock/0/values" value="H4sIAAAAAAAEADvoqC3wmvO+xzrz404NWalMDEBgZHzcaUZYIZhtBmQzvooAs02AbEeXZDhbhSkJzDYEsrdsK4Crr7YPh6vJVZ4jxgAGB/4vumQAFs8Hij/qjofbZTc3Csw2BrJPxubC9VZ+zICLdz2Kh4tzlKfDxX/eiYGLH92HUP/7MsKdC04i2J5syXB77xQkwtX7NybA1dy4lQlmmwLZblNS4H6U1KyBqwEASbGq1jgBAAA=" />
    <add key="/intelcpu/0/temperature/10/values" value="H4sIAAAAAAAEAGuTVBZ4zXnfg4FB14mXOYWJAQy0nW7/ToeyDZxaNZPg7O4QGFvHSfQijK3mdJMfxjZyMghMhLLVnexbVolB2Af+5xTIw9XEdsPMV3Fy0omCsnWdujZlQtnGTm/6s6BsfacwtmS427K+JcPNcd2VCFezPSAdLv7nBMw9mk4BR2DqNZzUfibB1T9oToTbdeJoMlz9OV6YG8ycwt+lwNUcjSmD+wsA4HHOFzgBAAA=" />
    <add key="/intelcpu/0/temperature/9/values" value="H4sIAAAAAAAEAGuTVBZ4zXnfg4FB14mXOYWJAQwMnG7/Toey1Z1aNZPg7O6QJLga0YsI9k1+GFvbySAwEco2dbJvWSUGYR/4n1MgD1cf2w0zX9PJSScKyjZ06tqUCWXrONU2Z0DZ+k6XXiPcFisLYxs7taslwvWWPkmHs/+cQLgn4EgynK32EyZu5PSgORFu5omjyXB7z/HC3KDrFP4OYe9e0zK4GgBgQJOPOAEAAA==" />
    <add key="/intelcpu/0/temperature/8/values" value="H4sIAAAAAAAEAHuUpyjwmvO+BwODjtPGtalMDGCg7HQ6MR3KNnCaejgJylZy6g6BsdWcRC/C2EZON/lhbA0ng8BEuF77llViEPaB/1I9UlBxfaf1+TlwtpNOFJRt6JTSnQkXX7wqA8rWdXpWlgJlGzt5TkqB29uuBrNLx+nZBJib9Zy6ZZKhbE2nlfOS4WrOyiHYD5oT4X45cTQZbv453ky4+2f4w+zSdqq5UgZXDwDubPWSOAEAAA==" />
    <add key="/intelcpu/0/temperature/7/values" value="H4sIAAAAAAAEAHuUpyjwmvO+BwODptPGtalMDGCg4XQ6MR3KVnaaejgJLt4dAmNrOYlehLFVnG7yw9hqTgaBiXC2fcsqMQj7wH8FQQmouI7T+0cpULam0x/jFLh4XEQmlK3qtHpbBtzeJ3NhavSdPCfB2ApO7Wowu9SdeqXT4W57MjEZylZyWjkvGa7mrBxC/EEzTK+204mjCDUH9mfAzV8Gt1fLKbGtDK4XAIS1gRM4AQAA" />
    <add key="/intelcpu/0/temperature/6/values" value="H4sIAAAAAAAEAGuTVBZ4zXnfg4Eh24mXOYWJAQzynG7/ToeyC5xaNZOg7CKnPdUwdqnTk5UwdrHTTX4Yu9DJIDARrt6+ZZUYhH3gf06BPFQ81Sm2Ox2u10knCsrOcOralAll5zq96c+CsrOcwtiSoex0p6xvyXB3uu5KhKvfHpAON+fPCYTbAo4kw92m9hMh/qAZpjfH6cRRhJpzvJlwP4a/S4G74WhMGVwNAL9KTVs4AQAA" />
    <add key="/intelcpu/0/temperature/5/values" value="H4sIAAAAAAAEAGuTVBZ4zXnfg4Eh2YmXOYWJAQxSnW7/ToeyE5xaNZPg7O4QGDvFSfQijJ3ldJMfxo5zMghMhLIznexbVolB2Af+5xTIw9XEdsPMz3Fy0omCspOdujZlQtmxTm/6s6DsRKcwtmS427K+JcPNcd2VCFezPSAdLv7nBMw96U4BR2DqM5zUfibB1T9oToTbdeJoMlz9OV6YG6Kcwt+lwNUcjSmD+wsAzKy+GjgBAAA=" />
    <add key="/intelcpu/0/temperature/4/values" value="H4sIAAAAAAAEAGuTVBZ4zXnfg4Eh2YmXOYWJAQwSnG7/ToeyM51aNZPg7O6QJLga0YsI9k1+GDvVySAwEcqOdroqtUIMwj7w/9pNRbj62G6Y+elOTjpRUHa8U9emTCg7xam2OQPKTnS69BrhtlhZGDvWqV0tEa639Ek6nP3nBMI9AUeS4Wy1nzDxOKcHzYlwM08cTYbbe44X5oZkp/B3CHv3mpbB1QAAuP33VjgBAAA=" />
    <add key="/intelcpu/0/temperature/3/values" value="H4sIAAAAAAAEAHuUpyjwmvO+BwNDitPGtalMDGCQ63Q6MR3KTnCaejgJys5z6g6BsbOcRC/C2HFON/lh7Awng8BEuN6rUivEIOwD/1u+ykDFE53W5+fA2U46UVB2vFNKdyZcfPGqDCg72elZWQqUHevkOSkFbm+7GsyuFKdnE2BuTnLqlkmGstOdVs5Lhqs5K4dgP2hOhPvlxNFkuPnneDPh7p/hD7Mr1anmShlcPQAgtH96OAEAAA==" />
    <add key="/intelcpu/0/temperature/2/values" value="H4sIAAAAAAAEAHuUpyjwmvO+BwNDutPGtalMDGCQ4XQ6MR3KznWaejgJLt4dAmOnOYlehLFznG7yw9hZTgaBiXD2VakVYhD2gf9dVVJQ8RSn949SoOx0pz/GKXDxuIhMKDvbafW2DLi9T+bC1CQ6eU6CsQuc2tVgdmU69Uqnw932ZGIylJ3ntHJeMlzNWTmE+INmmN5UpxNHEWoO7M+Am78Mbm+aU2JbGVwvAMciYzY4AQAA" />
    <add key="/intelcpu/0/temperature/1/values" value="H4sIAAAAAAAEAGuTVBZ4zXnfg8EhxYmXOYWJAQQa0pxu/06HslOdWjWTIOwD6U7dIVA2Q6qT6EUE+yY/lO2Q6mQQmAjVm+x0VWqFGETNgf/XbipCzUlwiu2Gmn8gzclJJwqqN9Gpa1MmlJ3s9KY/C84OY0uG6836BmU7JDm57kqEq9kekA43588JmHsynAKOJMP9pfYTJp7i9KAZqpch2enE0WS4+DlehBvC30HDhCHJ6WhMGVQ80wkAzdlXHTgBAAA=" />
    <add key="/intelcpu/0/temperature/0/values" value="H4sIAAAAAAAEAGuTVBZ4zXnfg4Eh24mXOYWJAQxynW7/ToeyC51aNZOg7GKn7hAYO89J9CJC/CZ/Ely9QWAilF3kdFVqhRiEfeD/tZuKUPE0p9judLheJ50oKDvdqWtTJtwNb/qzoOwspzC2ZLiarG8wdoGT665EuHu2B8DMzHD6cwLhtoAjyXD3qP2EiZc4PWhOhJt/4ijCzHO8MDeUOoW/g4VJttPRmDK4OQA4i7KsOAEAAA==" />
    <add key="/intelcpu/0/load/9/values" value="H4sIAAAAAAAEAHuUpyjwmvO+x9kzbo4b16YyMQBBa/ZUx9OJ6WA293Ujx6mHk8DsQ1/dHbtDIOx17qaOohch7DeBLI43+SHsnXLVjgaBiWB2TP8GB9GbC8QYwODAf689imDxHXJCju8fpUDZfo5/jCHstLQex7iITLhdq7dlgNmx/UGOT+amQO2d7eg5KQVqV6pjuxrErodV1o690hA3f9OQdnwyMRnK1nBcOQ/CNjbudDwrB2E/Aqp/0AzRO+FQlOOJoxBxBgZ9xwP7M6BuE3Es6IPY5fFwiePvTyVQNcaOAKUFQII4AQAA" />
    <add key="/intelcpu/0/load/8/values" value="H4sIAAAAAAAEAHuUpyjwmvO+x/XF0x03rk1lYgCCsz6rHU8npoPZ31ascZx6OAnMju0PcewOgbD7D/E7il6EsJcUvHa4yQ9hMzRsdzQITASzg3ZccRC9uUAMLM5w4L/XHkWw+OIPixzfP0oBsyccUnf8Ywxhy7cGOcZFZILZD6v4HFdvywCzW18fdnwyF6JmluQSR89JEPY3jV8O7WoQu0yMpR17pSFuZmCIdHwyMRnMPvL1l8PKeRA29/XjDmflIOxDX9c5PGiG6F1csNvhxFGIeFraFYcD+yH2rnPPdizoS4H6q8nx96cSMNuOa74jAJdhsvk4AQAA" />
    <add key="/intelcpu/0/load/7/values" value="H4sIAAAAAAAEAHuUpyjwmvO+xw3lC44b16YyMQDBw6pix9OJ6WD2jJkFjlMPJ4HZ8q1vHbpDIOygHVGOohch7GoRPYeb/BC26DoNR4PARKgaMQfRmwvEGMDgwH+vPYpgcWNjR8f3j1LA7Jj+Kw5/jCHstteKjnERmWC2yLqjDqu3ZYDZO+QUHZ/MhahJTct29JwEYa9zd3VoV0uEmrneoVca4ubri0Ucn0xMBrMLbdc5rJwHYTMwLHI4KwdhH/6a4PCgORGqxtTxxFGIeOvrn/YH9sPslXIs6EuBuofP8fenEjD7mwajIwDMwC24OAEAAA==" />
    <add key="/intelcpu/0/load/6/values" value="H4sIAAAAAAAEAHuUpyjwmvO+B9f1+Y4b16YyMQDBm8AjjqcT08Hssz6tjlMPJ4HZDAz6jt0hMHaVo+hFCNvjIZ/jTX4I+9riKEeDwEQw+/BXU0fRmwvEIOoP/PfaowgV93N8/ygFzC6wDXH8YwxhLy5Ic4yLyASzd8plOq7elgFmLyngcnoyF6Lm7Jm1jp6TIGxj47UO7WoQu+y49B17pSFuXuf+3eHJxGSoO084rJwHYaelcTqelYOw5Vs7HR40Q/Qe+vrA4cRRiLhc61uHA/sh9vYf8nIs6IPYFdM/w/H3pxIwe8KhGkcAXRQmiDgBAAA=" />
    <add key="/intelcpu/0/load/5/values" value="H4sIAAAAAAAEAHuUpyjwmvO+R1qam+PGtalMDEBQaJvgeDoxHcyuFql1nHo4CcxOfzbJsTsEwu4/xO8oehHCjun/4XCTH8JOS6tyNAhMhOp95yB6c4EYAxgc+O+1RxEsHrSj0/H9oxQwe4dcguMfYwh7nfsUx7iITDD7UVWR4+ptGWD2m8A6xydzIWpE12U7ek6CsB9WcTq2qyVC2X6OvdIQN589w+H4ZGIymP1N44rDynnJUDWOjmflIGz51rcOD5oToX7RcDxxFCJ+6OsDhwP7IfYyMFxyKOhLgfor1fH3pxKIey52OAIAC+aIbzgBAAA=" />
    <add key="/intelcpu/0/load/4/values" value="H4sIAAAAAAAEAHuUpyjwmvO+B9d1c6eNa1OZGIDgdeAKx9OJ6WC26LorjlMPJ4HZDAxVjt0hEPZ15QZH0YsQdo3IL4eb/BD2zJkHHQ0CE8Fs482djqI3F4hB9B7477VHESzu8TDf8f2jFDBbRG+R4x9jCPuMzyTHuIhMMPubRrbj6m0ZUDfcdHwyF6LmcOk7R89JEPZ2uVzHdjWIXevc0x17pSFuNjHudnwyMRnMnjWzx3HlPAh78YdWx7NyELYtl77jg2aI3n6nOY4njsLEPRwP7IfYG8M/w7GgD2KX5p3Njr8/lYDZby4udAQARnrhEzgBAAA=" />
    <add key="/intelcpu/0/load/3/values" value="H4sIAAAAAAAEAHuUpyjwmvO+xyzJRseNa1OZGIDg0NctjqcT08Hs9cfXOE49nARmP6yyduwOgbAnHIpyFL0IYTMweDre5IewRdZNcjQITASzv2n4O4reXCAGUXPgv9ceRbB4/6Ewx/ePUsBsruszHP8YQ9itr1sd4yIywWytmBzH1dsywOyZM4Mcn8xNgZq5y9FzEozt6Niulgh1W65jrzTEzZp3Zjk+mZgMtYvdceU8CHvWTH7Hs3LJUDd7OD5ohui15RJzPHEUJp7oeGA/xN517mqOBX0Qu3bIFTr+/lQCZl9fXOEIANjNdzQ4AQAA" />
    <add key="/intelcpu/0/load/2/values" value="H4sIAAAAAAAEAHuUpyjwmvO+B8MBdaeNa1OZGIAgLS3N8XRiOpjt8XCu49TDSWB2oW2zY3cIhL1Dbqaj6EUIe527k+NNfgj7m0ano0FgIphdLaLkKHpzgRgDGBz477VHESz+6Ncdx/ePUsDsWTNFHf8YQ9jGxumOcRGZTBD1Oo6rt2WA2TvnLXd8MheipnrKYUfPSRB2TH+hY7saxK7Y/hDHXul0qL3Sjk8mJoPZIuvUHVfOg7CXFLg7npWDsPsPaTg+aIboLbD1czxxFCIu18rpeGA/xN6zZ7wdC/ogdrW+7nD8/akEzNaMOeAIAEv5eaA4AQAA" />
    <add key="/intelcpu/0/load/1/values" value="H4sIAAAAAAAEAHuUpyjwmvO+xzp2H6eNa1OZGIDAruux4+nEdDC7NfuL49TDSWD2hEMHHbtDIGzNmB2OohchbJF1Mx1v8kPYh77+cTQITASzTTZvdRS9uUCMAQwO/PfaowgWD/rB7/T+UQqYnfbsguMfYwh7h9xZx7iITDCbK3yb4+ptGWD2oypppydzIWpmSfI6eU6CsOVbux3b1RKh7EWOvdLpUPZaxycTk8Hssz4rHFfOg7Bj+Bc5npWDsP//r3R80AzR239oheOJoxBxO64qxwP7IfYW7j3qWNAHsev64m+Ovz+VgNlt2Y8dAbPkI2k4AQAA" />
    <add key="/intelcpu/0/load/0/values" value="H4sIAAAAAAAEAHuUpyjwmvO+x5uLBx03rk1lYgCC1tfTHU8npoPZJsZTHKceTgKzH1aFOHaHQNhc18McRS9C2Dvk2B1v8kPY3zS6HA0CE8HsQlthR9GbC8QYwODAf689imBx+dZ6x/ePUpgg4iGOf4wh7CUFZY5xEZlgti2Xs+PqbRlgtl3XfMcncyFqZs5c4eg5CcJeXKDk2K4Gsev6YivHXmmIm2P67RyfTEyGminkuHJeMlSNnuNZOQj77BkWxwfNiVB/mTieOAoRX+fO5XhgfwY0HGwdC/pSoOxWx9+fSqB+b3YEAFB5JIs4AQAA" />
    <add key="plotPanel.MinVoltage" value="0" />
    <add key="plotPanel.MaxVoltage" value="100" />
    <add key="plotPanel.MinCurrent" value="0" />
    <add key="plotPanel.MaxCurrent" value="100" />
    <add key="plotPanel.MinPower" value="0" />
    <add key="plotPanel.MaxPower" value="100" />
    <add key="plotPanel.MinClock" value="0" />
    <add key="plotPanel.MaxClock" value="100" />
    <add key="plotPanel.MinTemperature" value="0" />
    <add key="plotPanel.MaxTemperature" value="100" />
    <add key="plotPanel.MinLoad" value="0" />
    <add key="plotPanel.MaxLoad" value="100" />
    <add key="plotPanel.MinFrequency" value="0" />
    <add key="plotPanel.MaxFrequency" value="100" />
    <add key="plotPanel.MinFan" value="0" />
    <add key="plotPanel.MaxFan" value="100" />
    <add key="plotPanel.MinFlow" value="0" />
    <add key="plotPanel.MaxFlow" value="100" />
    <add key="plotPanel.MinControl" value="0" />
    <add key="plotPanel.MaxControl" value="100" />
    <add key="plotPanel.MinLevel" value="0" />
    <add key="plotPanel.MaxLevel" value="100" />
    <add key="plotPanel.MinFactor" value="0" />
    <add key="plotPanel.MaxFactor" value="100" />
    <add key="plotPanel.MinData" value="0" />
    <add key="plotPanel.MaxData" value="100" />
    <add key="plotPanel.MinSmallData" value="0" />
    <add key="plotPanel.MaxSmallData" value="100" />
    <add key="plotPanel.MinThroughput" value="0" />
    <add key="plotPanel.MaxThroughput" value="100" />
    <add key="plotPanel.MinTimeSpan" value="0" />
    <add key="plotPanel.MaxTimeSpan" value="600" />
    <add key="plotPanel.MinTiming" value="0" />
    <add key="plotPanel.MaxTiming" value="100" />
    <add key="plotPanel.MinEnergy" value="0" />
    <add key="plotPanel.MaxEnergy" value="100" />
    <add key="plotPanel.MinNoise" value="0" />
    <add key="plotPanel.MaxNoise" value="100" />
    <add key="plotPanel.MinConductivity" value="0" />
    <add key="plotPanel.MaxConductivity" value="100" />
    <add key="plotPanel.MinHumidity" value="0" />
    <add key="plotPanel.MaxHumidity" value="100" />
    <add key="treeView.Columns.Sensor.Width" value="248" />
    <add key="treeView.Columns.Value.Width" value="100" />
    <add key="treeView.Columns.Min.Width" value="100" />
    <add key="treeView.Columns.Max.Width" value="100" />
    <add key="listenerIp" value="?" />
    <add key="listenerPort" value="8085" />
    <add key="authenticationEnabled" value="false" />
    <add key="authenticationUserName" value="" />
    <add key="authenticationPassword" value="cd372fb85148700fa88095e3492d3f9f5beb43e555e5ff26d95f5a6adc36f8e6" />
  </appSettings>
</configuration>